.card__description {
  width: 100%;
  min-height: 79px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
